//
// RegionsAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation
import Alamofire


open class RegionsAPI {
    /**
     Повертає список усіх областей, регіонів та міст

     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func apiV3RegionsGet(completion: @escaping ((_ data: RegionsViewModel?,_ error: Error?) -> Void)) {
        apiV3RegionsGetWithRequestBuilder().execute { (response, error) -> Void in
            completion(response?.body, error)
        }
    }


    /**
     Повертає список усіх областей, регіонів та міст
     - GET /api/v3/regions
     - 

     - API Key:
       - type: apiKey Authorization 
       - name: Token
     - examples: [{contentType=application/json, example={
  "states" : [ {
    "regionChildIds" : [ null, null ],
    "regionId" : "regionId",
    "regionType" : "State",
    "regionName" : "regionName"
  }, {
    "regionChildIds" : [ null, null ],
    "regionId" : "regionId",
    "regionType" : "State",
    "regionName" : "regionName"
  } ]
}}]

     - returns: RequestBuilder<RegionsViewModel> 
     */
    open class func apiV3RegionsGetWithRequestBuilder() -> RequestBuilder<RegionsViewModel> {
        let path = "/api/v3/regions"
        let URLString = SwaggerClientAPI.basePath + path
        let parameters: [String:Any]? = nil
        let url = URLComponents(string: URLString)


        let requestBuilder: RequestBuilder<RegionsViewModel>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "GET", URLString: (url?.string ?? URLString), parameters: parameters, isBody: false)
    }
}
